.edit {
    background-color: $white;
    width: 50vw;
    position: absolute;
    top: 10vh;
    left: 25vw;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    border-radius: round(3px);
    box-shadow: 0 0 5px 5px $white;
}

.editTitle {
    color: $lightBlue;
    text-shadow: 1px 1px 1px rgba(0, 157, 204, 0.27);
    font-size: 30px;
}

.num {
    display: none;
}