.index {
    background-color: $white;
    width: 90vw;
    margin-top: 10vh;
    margin-left: 5vw;
    margin-bottom: 10vh;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    border-radius: round(3px);
    box-shadow: 0 0 5px 5px $white;
}

.indexTitle {
    color: $lightBlue;
    text-shadow: 1px 1px 1px rgba(0, 157, 204, 0.27);
    font-size: 30px;
}

tr {
    text-align: center;
}

.card-body{
    color: $darkGrey;
    &:hover {
        background-color: $lightBlue;
    }
}

.editButton {
    color: $lightGreen;
    &:hover {
        color: $darkGreen;
    }
}

.deleteButton {
    color: $danger;
    &:hover {
        color: darken($danger, 20%);
    }
}

.adderButton {
    color: $darkGrey;
    background-color: $white;
    border-color: $lightBlue;
    &:hover {
        background-color: $lightBlue;
        border-color: $lightBlue;
    }
}

.on {
    background-color: $darkBlue;
    border-color: $darkBlue;
    &:hover{
        background-color: $darkBlue;
        border-color: $darkBlue;
    }
}

.off {
    background-color: $lightBlue;
    border-color: $lightBlue;
    &:hover{
        background-color: $lightBlue;
        border-color: $lightBlue;
    }
}

.link {
    color: $lightBlue;
    &:hover {
        color: $darkBlue;
    }
}

.dropdown-toggle {
    color: $darkBlue;
}

.pagination {
    span {
        margin-right: 2px;
        margin-left: 2px;
        color: $darkBlue;
    }
    a{
        margin-right: 2px;
        margin-left: 2px;
        color: $lightBlue;
        &:hover {
            color: $darkBlue;
        }
    }
}

.search {
    color: $white;
    background-color: $darkBlue;
    border-color: $darkBlue;
    &:hover {
        color: $white;
        background-color: $lightBlue;
        border-color: $lightBlue;
    }

}