body {
    background-color: $darkBlue;
    font-family: $mainFont;
}

.navbar {
    background-color: #e0e00b;
}

.login {
    background-color: $white;
    width: 50vw;
    position: absolute;
    top: 20vh;
    left: 25vw;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: round(3px);
    box-shadow: 0 0 5px 5px $white;
}

.logo {
    width: 20vw;
}

.loginLabel {
    color: $darkGrey;
}

.loginTitle {
    color: rgba(0, 157, 204, 0.95);
    text-shadow: 1px 1px 1px rgba(0, 157, 204, 0.27);
    font-size: 2.5rem;
    margin-bottom: 0.8rem;
    margin-left: 0.3rem;
}

.btn-primary {
    background-color: $lightBlue;
    border-color: $lightBlue;
}
