body {
    background-color: $darkBlue;
    font-family: $mainFont;
}

.btn-primary {
    background-color: $darkBlue;
    border-color: $darkBlue;
    &:hover {
        background-color: $darkBlue;
        border-color: $darkBlue;
    }
}

.btn-outline-primary {

}