.user {
    background-color: $white;
    width: 60vw;
    max-height: 70vh;
    margin-top: 10vh;
    margin-left: 20vw;
    margin-bottom: 10vh;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    border-radius: round(3px);
    box-shadow: 0 0 5px 5px $white;
}