{% extends 'base.html.twig' %}

{% block title %}Edit Picking{% endblock %}

{% block body %}
    <h1>Edit Picking</h1>

    {{ include('picking/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('picking_index') }}">back to list</a>

    {{ include('picking/_delete_form.html.twig') }}
{% endblock %}
