{% extends 'base.html.twig' %}

{% block title %}Téléchargement d'une commande{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="edit d-flex flex-column">
        <div class="d-flex align-items-center justify-content-around">
            <p class="editTitle text-center border-bottom">Téléchargement d'une commande</p>
        </div>
        <form method="post" enctype="multipart/form-data" class="mt-2 d-flex flex-column justify-content-center">
            <div class="form-group">
                <label for="exampleInputFile">Scanner un fichier (format Excel)</label>
                <input type="file" name="file" class="form-control py-3" id="exampleInputFile" style="height: 65px;">
            </div>
            <button type="submit" class="btn register">Scanner le fichier</button>
        </form>
        <div class="mt-4">
            <a href="{{ path('commande_index') }}"><i class="navigationButton fas fa-arrow-circle-left fa-3x" title="Retour au menu principal"></i></a>
        </div>

    </div>
</div>
{% endblock %}