{% extends 'base.html.twig' %}

{% block title %}Edit Operateur{% endblock %}

{% block body %}
    <h1>Edit Operateur</h1>

    {{ include('operateur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('operateur_index') }}">back to list</a>

    {{ include('operateur/_delete_form.html.twig') }}
{% endblock %}
