<form method="post" action="{{ path('commande_ligne_delete', {'id': commande_ligne.id}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer cet élément?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande_ligne.id) }}">
    <button class="btn">Delete</button>
</form>
